/* Estilos Globales y Reset */
@import './variables.css';

*, *::before, *::after {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 30px;
    font-family: var(--font-main);
    background-color: var(--bg-body);
    color: var(--text-main);
    line-height: 1.5;
    min-height: 100vh;

}

h1, h2, h3 {
    margin: 0;
    font-weight: 700;
    color: var(--text-main);
}

button {
    font-family: inherit;
    cursor: pointer;
}