/* Estilos Globales y Reset */
@import './variables.css';

*, *::before, *::after {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: var(--bg-body);
    color: var(--text-main);
    line-height: 1.5;
    min-height: 100vh;
    /* Centrado layout principal */
    display: flex;
    justify-content: center;
}
